<!DOCTYPE html>
<html>
<head>
  <title>BridgeCache</title>
  <%= stylesheet_link_tag    "bridge_cache/application", media: "all" %>
  <%= javascript_include_tag "bridge_cache/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
